body {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: black;
}
li,
a {
  text-decoration: none;
  list-style: none;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.nav-item {
  display: inline-block;
  padding: 0 2rem;
}
.nav-link {
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
}

.logo {
  height: 62px;
  width: 178px;
}
