.vertical-nav-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vertical-nav-text {
  color: #fff;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  font-size: 1.2rem;
  font-weight: 500;
}
