.dashboard-data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 100%;
  width: 80%;
}

.dashboard-data-graph {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
